body {
  background-color: beige;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif
};
form {
  text-align: center;
  padding-top: 20px;
  margin: 0 10%;
  width: 80%;
}
input[type="text"], input[type="password"], input[type="number"] {
  display: inline-block;
  width: 60%;
  margin: .5% 1%;
  float: left;
  font-family: sans-serif;
  font-size: 18px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  padding: 10px;
  border: solid 5px #dcdcdc;
  text-align: center;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"] {
  border: solid 5px #dcdcdc;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="submit"] {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: .5% 1%;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 0;
  color: #999;
  background-color: #dcdcdc;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
}
input[type="submit"]:hover {
  box-shadow: inset 0 0 0 5px #27496d,0 5px 15px #193047;
}
input[type="submit"]:focus {
  box-shadow: inset 0 0 0 5px #27496d,inset 0 5px 30px #193047;
}
#restaurant-input {
  margin: 0 auto;
}
header {
  background-color: rgb(251, 125, 63);
  padding: 5px;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 2em;
  font-family: sans-serif;
  font-variant: small-caps;
}

footer p {
  text-align: center;
  color: grey;
  font-style: italic;
  font-family: sans-serif;
  font-size: 1rem;
  width: 90%;
  margin: 10px auto;
}
footer a, footer a:visited {
  text-align: center;
  color: rgba(201, 100, 50, 1);
  font-style: italic;
  font-family: sans-serif;
  font-size: 1rem;
}
.comments {
  background: rgba(201, 100, 50, 1);
  margin-top: 1.5rem;
  border-radius: 1.3rem;
  font-size: 18px;
  line-height: 2rem;
  width: 100%;
  color: white;
  font-family: sans-serif;
  clear: both;
}
#comments-modal {
  position: fixed;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  background: rgb(255, 255, 255);
  border: 5px #dcdcdc solid;
  overflow: scroll;
  box-sizing: border-box;
}
#show-comments {
  position: relative;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
#close {
  color: blue;
}
#container {
  max-width: 61rem;
  margin: auto;
  padding: 1.2rem;
}
#main {
  max-width: 61rem;
  margin: auto;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.fuzzy-bkgd {
  background-color: rgba(201, 100, 50, 1);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
}
.rightdiv {
  width: 49%;
  margin-right: 1%;
  overflow: auto;
  zoom: 1;
}
.leftdiv {
  width: 49%;
  margin-right: 1%;
  overflow: auto;
  float: left;
  zoom: 1
}
@media (max-width: 600px) {
  .rightdiv, .leftdiv {
    float: none;
    margin-bottom: 0px
    padding-bottom: 0px;
    width: 100%
  }
  input[type="text"], input[type="password"], input[type="number"] {
    width: 90%;
  }
  input[type="submit"] {
    width: 50%;
  }
}
