body {
  background-color: beige;
  width: 100%;
  margin: 0px;
  padding: 0px;
};
form {
  text-align: center;
  padding-top: 20px;
  margin: 0 10%;
  width: 80%;
}
input[type="text"], input[type="password"], input[type="number"] {
  display: inline-block;
  width: 60%;
  margin: .5% 1%;
  float: left;
  font-family: sans-serif;
  font-size: 18px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  padding: 10px;
  border: solid 5px #dcdcdc;
  text-align: center;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"] {
  border: solid 5px #dcdcdc;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="submit"] {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: .5% 1%;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 0;
  color: #999;
  background-color: #dcdcdc;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
}
input[type="submit"]:hover {
  box-shadow: inset 0 0 0 5px #27496d,0 5px 15px #193047;
}
input[type="submit"]:focus {
  box-shadow: inset 0 0 0 5px #27496d,inset 0 5px 30px #193047;
}
#restaurant-input {
  margin: 0 auto;
}
header {
  background-color: rgb(251, 125, 63);
  padding: 5px;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 2em;
  font-family: sans-serif;
  font-variant: small-caps;
}

.comments {
  font-family: 'Poiret One', cursive;
  background: rgba(201, 100, 50, 1);
  margin-top: 1.5rem;
  border-radius: 1.3rem;
}
#comments-modal {
  position: fixed;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  background: rgb(255, 255, 255);
  border: 5px #dcdcdc solid;
}
#show-comments {
  position: relative;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
#close {
  color: blue;
}
#container {
  max-width: 61rem;
  margin: auto;
  padding: 1.2rem;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
